@charset "utf-8";
/* CSS Document */

/* ************************************************************************************************************************

Pristel

File:			app.scss
Author:			Amapolazul
Homepage:		www.amapolazul.com
Copyright:		2017

************************************************************************************************************************ */

/* ---------- Variables ---------- */

$primary_color: #00a551;
$secondary_color: #ffff00;
$tertiary_color: #5d5d5d;
$border_color: #e6e6e6;

/* ---------- General ---------- */

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	color: $tertiary_color;
}

a {
	color: $primary_color;
}

/* ---------- Template ---------- */

/* Top */

.top {
	width: 100%;
	background-color: #fff;
	position: fixed;
	z-index: 10;
	.custom_t1 {
		padding: 10px 0;
	}
	.moduletable_t2 {
		ul.menu_main {
			margin: 0;
			list-style: none;
			li {
				padding: 15px;
				background: {
					color: $primary_color;
					image: url(menu_main_li_bg.png);
					position: right;
					repeat: no-repeat;
				}
				list-style: none;
				display: inline-block;
				&.item-101 {
					-webkit-border-top-left-radius: 10px;
					-moz-border-radius-topleft: 10px;
					border-top-left-radius: 10px;
				}
				&.item-114 {
					-webkit-border-top-right-radius: 10px;
					-moz-border-radius-topright: 10px;
					border-top-right-radius: 10px;
				}
				&.active {
					a {
						color: $secondary_color;
					}
				}
				&:last-child {
					background-image: none;
				}
				a {
					font-size: 12px;
					color: #fff;
					text-transform: uppercase;
					&:hover {
						color: $secondary_color;
					}
				}
			}
		}
	}
}

/* Menu */

.menu_wrap {
	padding-top: 94px;
}

/* Banner */

.banner {
	padding: 10px 0;
	padding-top: 104px;
	background: {
		image: url(banner_bg.png);
		position: center;
		repeat: no-repeat;
		size: cover;
	}
}

/* Welcome */

.welcome {
	padding: 25px 0;
	.moduletable_w1 {
		h3 {
			font-size: 16px;
			text-align: center;
		}
		.custom_au1 {
			p {
				margin: 0;
			}
		}
	}
}

/* About Us */

.about_us {
	background-color: #f2f2f2;
	.moduletable_au1 {
		h3 {
			width: 200px;
			margin: auto;
			margin-bottom: 10px;
			padding: 20px 0;
			background-color: $primary_color;
			-webkit-border-bottom-right-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-radius-bottomright: 10px;
			-moz-border-radius-bottomleft: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			font-size: 16px;
			color: #fff;
			text-align: center;
		}
		.custom_au1 {
			margin-bottom: 10px;
			ul.tabs {
				background: none;
				border: none;
				li.tabs-title {
					margin-bottom: 5px;
					background-color: #fff;
					border: 1px solid $border_color;
					a {
						padding: 10px;
						color: $primary_color;
						&:hover,
						&[aria-selected=true] {
							background-color: $primary_color;
							color: #fff;
						}
					}
				}
			}
			.tabs-content {
				border: 1px solid $border_color;
				font-size: 12px;
				color: $tertiary_color;
				h4 {
					font-size: 14px;
					font-weight: bold;
				}
			}
		}
	}
}

/* Portfolio & Product & Support */

.portfolio,
.product,
.support {
	.moduletable_po1,
	.moduletable_pr1,
	.moduletable_su1 {
		h3 {
			width: 260px;
			margin: auto;
			margin-bottom: 10px;
			padding: 20px 0;
			background-color: $primary_color;
			-webkit-border-bottom-right-radius: 10px;
			-webkit-border-bottom-left-radius: 10px;
			-moz-border-radius-bottomright: 10px;
			-moz-border-radius-bottomleft: 10px;
			border-bottom-right-radius: 10px;
			border-bottom-left-radius: 10px;
			font-size: 16px;
			color: #fff;
			text-align: center;
		}
		.custom_po1,
		.custom_pr1,
		.custom_su1 {
			margin-bottom: 10px;
			ul.accordion {
				margin: 0;
				li.accordion-item {
					margin-bottom: 10px;
					border: 1px solid $border_color;
					a.accordion-title {
						padding: 10px;
						border: none;
						color: $primary_color;
						&:hover,
						&[aria-selected=true] {
							background-color: $primary_color;
							color: #fff;
						}
					}
					.accordion-content {
						font-size: 12px;
						color: $tertiary_color;
					}
				}
			}
		}
	}
}

/* Product */

.product {
	background-color: #f2f2f2;
	.moduletable_pr1 {
		.custom_pr1 {
			h4 {
				font-size: 16px;
				color: $primary_color;
				text-transform: uppercase;
			}
			.content_box {
				display: none;
			}
		}
	}
}

/* Contact Us */

.contact_us {
	.moduletable_cu1 {
		margin: 20px 0;
		padding: 20px;
		border: 1px solid $border_color;
	}
}

/* Bottom */

.bottom {
	padding: 10px 0;
	background-color: $primary_color;
	.moduletable_bo1 {
		font-size: 18px;
		color: #fff;
		a {
			color: #fff;
		}
	}
}

/* Copyright */

.copyright_wrap {
	padding-bottom: 10px;
	background-color: $primary_color;
	.copyright {
		color: #fff;
		text-align: center;
		a {
			color: #fff;
		}
	}
}

/* ---------- Components ---------- */

/* ChronoForms */

.chronoform {
	h2 {
		margin: 0;
		margin-bottom: 15px;
		font-size: 16px;
		color: $primary_color;
		text-transform: uppercase;
	}
	label {
		display: none;
	}
	input[type=text],
	textarea {
		background-color: #f2f2f2;
		border: none;
		box-shadow: none;
		font-size: 12px;
	}
	#ftd-enviar {
		text-align: right;
	}
	.button {
		margin: 0;
		padding: 5px;
		background-color: $primary_color;
		font-size: 12px;
	}
}

p.chrono_credits {
	margin: 0;
	line-height: 0;
	a {
		font-size: 0;
	}
}

/* ---------- Media Queries ---------- */

/* Small only (639px) */

@media screen and (max-width: 39.9375em) {

	/* Banner */

	.banner {
		padding: 10px 0;
	}

}

/* Medium and up (640px) */

@media screen and (min-width: 40em) {}

/* Medium only (640px and 1023px) */

@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up (1024px) */

@media screen and (min-width: 64em) {}

/* Large only (1024px and 1199px) */

@media screen and (min-width: 64em) and (max-width: 74.9375em) {}

/* ---------- Others ---------- */

.clear {
	clear: both;
}